.movies-card {
  display: flex;
  flex-direction: column;
  min-height: 235px;
  background: #222222;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}

.movies-card:hover {
  transform: scale(1.03);
}

.movies-card__image {
  max-width: 100%;
  height: 168px;
  object-fit: cover;
}
.movies-card__info {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  padding: 0 12px;
}

.movies-card__info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__info-title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 80%;
}

.movies-card__delete-button {
  background: url("../../images/delete_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.movies-card__like-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  background: url("../../images/dislike_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;
}

.movies-card__like-button:hover {
  opacity: 0.7;
  background: url("../../images/like_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.4);
}

.movies-card__like-button:focus {
  outline: none;
}

.movies-card__info-icon-active {
  background: url("../../images/like_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.movies-card__duration {
  margin: 10px 0 14px 0;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8b8b8b;
}

@media screen and (min-width: 768px) {
  .movies-card__image {
    height: 190px;
  }
}

@media screen and (min-width: 1024px) {
  .movies-card__image {
    height: 151px;
  }
}
