.movies-card {
  display: flex;
  flex-direction: column;
  background: #222222;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.movies-card__image {
  width: 100%;
}
.movies-card__info {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  padding: 0 12px;
}

.movies-card__info-top {
  display: flex;
  justify-content: space-between;
}

.movies-card__info-title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
.movies-card__info-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
}

.movies-card__info-icon-active {
  background: #2be080;
}

.movies-card__duration {
  margin: 10px 0 14px 0;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #8b8b8b;
}
