.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 74px);
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100vw - 60px);
  max-width: 410px;
}

.profile__form {
  margin-top: 70px;
  width: 100%;
}

.profile__form-title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form-field {
  margin: 0;
  margin-top: 80px;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  padding: 17px 0 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.profile__form-field:last-child {
  margin-top: 0;
  border-bottom: none;
}

.profile__buttom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.profile__buttom-button {
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  border: none;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.profile__buttom-button:hover {
  opacity: 0.7;
}

.profile__buttom-button:first-child {
  margin: 0;
}

.profile__buttom-button-logout {
  color: #ee3465;
}

@media screen and (min-width: 768px) {
  .profile__buttom {
    margin-bottom: 269px;
  }
  .profile__buttom-button {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__form {
    margin-top: 74px;
    width: 100%;
  }
  .profile__buttom {
    margin-bottom: 70px;
  }
}
