.form {
  margin-top: 80px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
}

.form__server-error {
  background-color: #dc3545;
  border-radius: 5px;
  min-height: 20px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  margin: 20px 0 40px;
  visibility: hidden;
  transform: translateY(-80%);
  opacity: 0;
  transition: all 0.3s linear;
}

.form__server-error_active {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.form-field:first-child {
  margin-top: 0;
}

.form__submit-button {
  background-color: #4285f4;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  padding: 15px 0;
  color: #fff;
  width: 100%;
  transition: all 0.2s linear;
}

.form__submit-button_disabled {
  opacity: 0.7;
  cursor: initial;
}

.form__submit-button:focus {
  outline: none;
  border: 1.5px solid rgba(171, 171, 171, 0.2);
}

.form__submit-button:hover {
  opacity: 0.7;
}

.form__bottom-text {
  font-size: 12px;
  margin: 14px 0 30px;
  line-height: 15px;
  text-align: center;
  color: #8b8b8b;
}
.form__bottom-link {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin-left: 7px;
  color: #4285f4;
  transition: all 0.2s linear;
}

.form__bottom-link:hover {
  opacity: 0.7;
}
