.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-found__content {
  display: flex;
  flex-direction: column;
  margin-top: calc(100vh / 2 - 61px);
}

.not-found__title {
  margin: 0;
  font-size: 80px;
  font-weight: 400;
  line-height: 97px;
  text-align: center;
}

.not-found__subtitle {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.not-found__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 30px;
  text-align: center;
  color: #4285f4;
}

@media screen and (min-width: 425px) {
  .not-found__link {
    margin-bottom: 122px;
  }
}

@media screen and (min-width: 768px) {
  .not-found__content {
    margin-top: calc(100vh / 2 - 96px);
  }

  .not-found__title {
    margin: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    text-align: center;
  }

  .not-found__subtitle {
    margin: 10px 0 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .not-found__link {
    margin-bottom: 222px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .not-found__link {
    margin-bottom: 60px;
  }
}
