.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #073042;
  color: #fff;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.promo__image {
  width: 65%;
  max-width: 310px;
}

.promo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  margin-top: 44px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

.promo__title-web {
  white-space: nowrap;
}

.promo__subtitle {
  width: 260px;
  margin: 24px 30px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  opacity: 50%;
}

@media screen and (min-width: 425px) {
  .promo__title {
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .promo__title {
    font-size: 40px;
    line-height: 50px;
    margin: 48px 44px 0;
  }
  .promo__subtitle {
    margin: 22px 30px 0;
  }
}

@media screen and (min-width: 1024px) {
  .promo__container {
    padding: 0 30px;
  }

  .promo__content {
    flex-direction: row;
    align-items: flex-start;
    margin: 75px auto 0;
    max-width: 1140px;
  }
  .promo__image {
    order: 1;
  }
  .promo__text {
    align-items: flex-start;
  }
  .promo__title {
    font-size: 50px;
    max-width: 640px;
    padding: 0 40px 0 0;
    line-height: 58px;
    text-align: left;
    margin: 0;
  }
  .promo__subtitle {
    text-align: left;
    margin: 36px 0 0;
    min-width: 310px;
  }
}
