.page {
  font-family: "Inter", Arial, sans-serif;
  min-height: 100vh;
  background-color: #202020;
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #202020;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #363636;
  border-radius: 10px;
}
