.header {
  background-color: #073042;
  min-height: 74px;
  background-color: transparent;
}
.header__container {
  width: calc(100vw - 28px);
  min-height: inherit;
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header__hamburger-menu {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 1;
  cursor: pointer;
}
.header__hamburger-menu > div {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  margin-bottom: 6px;
  background-color: white;
  transition: all 0.3s linear;
  transform-origin: 1px;
  opacity: 1;
}

.header__hamburger-menu_active div:nth-child(1) {
  transform: rotate(45deg);
  width: 28px;
}

.header__hamburger-menu_active div:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}

.header__hamburger-menu_active div:nth-child(3) {
  transform: rotate(-45deg);
  width: 28px;
}

.header__hidden-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  opacity: 0;
  transition: all 0.35s linear;
}

.header__hidden-menu_active {
  right: 0;
  opacity: 1;
}

.header__menu-link {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  padding: 5px 12px;
  text-decoration: none;
}
.header__menu-link-login {
  background-color: #3ddc84;
  margin-left: 2px;
  color: #000;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: calc(100vw - 60px);
  }

  .header__menu-link {
    font-size: 12px;
  }

  .header__menu-link-login {
    margin-left: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .header__hamburger-menu {
    display: none;
  }
}
