.header {
  background-color: #073042;
  min-height: 74px;
}
.header__container {
  width: calc(100vw - 28px);
  min-height: inherit;
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header__menu-link {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  padding: 5px 12px;
  text-decoration: none;
}
.header__menu-link-login {
  background-color: #3ddc84;
  margin-left: 2px;
  color: #000;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .header__container {
    width: calc(100vw - 60px);
  }
  .header__menu-link {
    font-size: 12px;
  }
  .header__menu-link-login {
    margin-left: 18px;
  }
}
