.header {
  display: flex;
  align-items: center;
  padding: 0 14px;
  justify-content: space-between;
  background-color: #073042;
  height: 74px;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.header__menu-item {
}
.header__menu-link {
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  padding: 5px 12px;
  text-decoration: none;
}
.header__menu-link-login {
  background-color: #3ddc84;
  color: #000;
  border-radius: 3px;
}
