.checkbox {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  background: #202020;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.2s linear;
}

.checkbox:hover {
  opacity: 0.7;
}

.checkbox__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkbox__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.checkbox__input:checked + .checkbox__slider:before {
  background-color: #3ddc84;
}

.checkbox__input:checked + .checkbox__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
