.aboutProject {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100vw - 36px);
  max-width: 1140px;
}
.aboutProject__title {
  margin: 0;
  margin-top: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding-bottom: 28px;
  border-bottom: 1px solid #dadada;
}
.aboutProject__info {
  display: grid;
  grid-template-rows: auto;
  margin-top: 60px;
}

.aboutProject__info-section:last-child {
  margin-top: 56px;
}

.aboutProject__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
}
.aboutProject__description {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}
.aboutProject__table {
  display: flex;
  margin: 60px 0 70px;
}
.aboutProject__cell {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}
.aboutProject__cell:first-child {
  width: 35%;
  max-width: 228px;
}
.aboutProject__cell:last-child {
  flex: 1;
}
.aboutProject__cell-top {
  margin: 0;
  background-color: #303030;
  padding: 11px 0;
}
.aboutProject__cell-top_green {
  background-color: #3ddc84;
  color: #000;
}
.aboutProject__cell-bottom {
  margin: 0;
  padding: 10px 0 0;
  color: #a0a0a0;
}

@media screen and (min-width: 768px) {
  .aboutProject {
    width: calc(100vw - 100px);
  }

  .aboutProject__title {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin-top: 90px;
  }

  .aboutProject__info {
    grid-auto-flow: column;
    column-gap: 30px;
  }

  .aboutProject__info-section:last-child {
    margin-top: 0;
  }

  .aboutProject__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .aboutProject__description {
    margin: 22px 0 0;
    font-size: 12px;
    line-height: 18px;
  }
  .aboutProject__table {
    margin: 93px 0 90px;
  }
  .aboutProject__cell {
    font-size: 14px;
    line-height: 17px;
  }
  .aboutProject__cell:first-child {
    width: 21%;
  }
}

@media screen and (min-width: 1024px) {
  .aboutProject__title {
    margin-top: 110px;
  }
  .aboutProject__description {
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 20 px;
  }
  .aboutProject__table {
    margin: 110px 0;
  }
  .aboutProject__cell-bottom {
    padding-top: 14px;
  }
}
