.register {
  display: flex;
  justify-content: center;
  align-content: center;
}

.register__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  width: calc(100vw - 60px);
  max-width: 396px;
}
.register__logo {
  width: 38px;
  height: 38px;
  transition: all 0.2s linear;
}

.register__logo:hover {
  opacity: 0.7;
}

.register__title {
  margin: 50px 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (min-width: 768px) {
  .register__content {
    align-items: flex-start;
    margin-top: 232px;
  }

  .register__title {
    margin-top: 40px;
  }
  .register__form {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .register__content {
    margin-top: 70px;
  }
}
