.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100vw - 36px);
  max-width: 1140px;
}

.footer__title {
  margin: 79px 0 0;
  padding-bottom: 21px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
}

.footer__buttom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 30px 0 0;
}

.footer__links-item {
  margin-top: 12px;
  transition: all 0.2s linear;
}

.footer__links-item:hover {
  opacity: 0.7;
}

.footer__links-item:first-child {
  margin-top: 0;
}

.footer__link {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.footer__copyright {
  margin: 30px 0 0 0;
  font-size: 12px;
  line-height: 15px;
  color: #8b8b8b;
}

@media screen and (min-width: 768px) {
  .footer {
    width: calc(100vw - 100px);
  }

  .footer__title {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 20px;
    text-align: center;
  }

  .footer__buttom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 0;
  }
  .footer__links {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }

  .footer__links-item {
    margin: 0 0 0 20px;
  }

  .footer__links-item:first-child {
    margin: 0;
  }
  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__copyright {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 66px 0 100px;
  }

  .about__description-container {
    min-height: 326px;
  }

  .about__image {
    max-width: 270px;
  }

  .about__occupation {
    font-size: 18px;
    margin-top: 18px;
  }

  .about__description {
    font-size: 14px;
    line-height: 22px;
  }
}
