.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  display: grid;
  top: 0;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  padding: 25px 22px;
  width: calc(100vw - 82px);
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  cursor: auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__close-button {
  position: absolute;
  right: 0;
  top: -40px;
  width: 22px;
  height: 22px;
  background-image: url("../../images/close_icon.svg");
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 600px) {
  .popup__form {
    padding: 36px;
  }
  .popup__close-button {
    top: -40px;
    right: -40px;
  }
}
