.navButton {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 10px 20px;
  margin: 80px 0 30px;
}

@media screen and (min-width: 768px) {
  .navButton {
    margin: 92px 0 76px;
  }
}

@media screen and (min-width: 1024px) {
  .navButton {
    align-self: flex-start;
    margin: 84px 0 75px;
  }
}
